@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  aside, header, nav, button {
    display: none !important;
  }
}